<!-- about.html -->

<!DOCTYPE html>

{% extends 'base.html'%}
{% block title %} {{post.title}} {% endblock %}

{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../../static/images/about.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">With Great Power comes Great Responsibilities</span>
                        <span class="subheading">-- Spider Man</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    <p>早安，這裡是孩子們的快樂天堂，也是我散播歡樂散播愛的故事小天地。我是憲騰，你們的好朋友</p>
                    <p>Good morning, here is the heaven of kids, and also my story world for growing love and melody. This is Sam, your good friend.</p>
                </div>
                <div>
                    <p>身為一名立志成為文青的理工人，我想要有一個自己的部落格，於是他就這樣誕辰了</p>
                    <p>As a Programmer who also aspires to become an article designer, I always want my own blog, then the baby comes.</p>
                </div>
                <div>
                    <p>若發現其中有臭蟲或是覺得我的文字不討喜，歡迎向我提出。謝謝^^</p>
                    <p>If there are errors or bugs in it. Please tell me, I will appreciate you ^^</p>
                </div>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
