<!-- home.html -->

<!DOCTYPE html>
{% extends 'base.html'%}
{% block title %} Sam's blog {% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../../static/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Sam's Blog</h1>
                        <hr class="small">
                        <span class="subheading">獻給我想貢獻的小小故事集</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        {% for post in post_list %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="{% url 'post_detail' id=post.id %}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                    </a>
                    <div class="separation">
                        <div class="color_col_1"></div>
                        <div class="color_col_2"></div>
                        <div class="color_col_3"></div>
                    </div>
                    <p class="post-subtitle">
                        {{post.content|safe|truncatewords_html:10}}
                    </p>
                    <div class="row">
                        <p class="post-meta col-md-10">Posted by Sam Chang</p>
                        <p class="col-md-2"> <a href="{% url 'post_detail' id=post.id %}">Read more</a>
                    </div>
                </div>
                <hr>
                

                <!-- Pager -->
            </div>
        </div>
        {% endfor %}    
    </div>
{% endblock %}