<!-- post.html -->

<!DOCTYPE html>
{% extends 'base.html'%}
{% block title %} {{post.title}} {% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../../static/images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>黃昏灑落，寒鴉無語，我將在暗橋彼處等你</h1>
                        <h2 class="subheading">晚風蕭蕭，微雨飄渺，華髮清香在我心頭飄搖</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>    
    <!-- Post Content -->
    <article>
        <div class="container post post-detail">
                <div class="post-heading">
                    <h1 class="title"><a href="{% url 'post_detail' id=post.id %}">{{ post.title }}</a></h1>
                </div>
                <div class="separation">
                    <div class="color_col_1"></div>
                    <div class="color_col_2"></div>
                    <div class="color_col_3"></div>
                </div>
            <div class="row">
                <div class="col-md-12">
                    {{post.content | safe}}
                </div>
            </div>
        </div>
    </article>
{% endblock %}